#Duplicados
Se utiliza la función `duplicated()`,la cual retorna un valor booleano en caso de que el dato esté duplicado en filas anteriores.

In [ ]:
import pandas as pd
from pandas import DataFrame

Ej=pd.read_csv('EjemploDatosCSV.csv', index_col='Clave')
Ej=Ej.drop(['Apellido','Cargo','Fecha ingreso'], axis=1)
Ej

             Nombre      Departamento  Sueldo
Clave
RivJo-94      Jorge    Administración   25000
MarLo-59    Lourdes    Administración   13000
ArtAn-51        Ana    Administración   13500
MarDi-53      Diego    Administración   14000
MarCr-39   Cristina         Comercial   21000
CasEs-71    Esteban         Comercial   42500
PerNa-53      Nancy         Comercial   15000
GonOs-90      Oscar          Gerencia   50000
TorMe-26   Mercedes          Gerencia   10000
FueGu-65  Guadalupe       Informática   25000
GueLu-42       Luis         Marketing   25000
GarFe-36   Federico         Marketing   40000
GalSe-85     Sergio         Marketing   22500
BenJo-36       José  Recursos Humanos   30000
SanJa-53      Jaime        Producción   30000

In [ ]:
#Se agregan dos elementos duplicados (Con distinta clave) para probar la función
Ej.loc['FerRt-45']=Ej.loc['GarFe-36']
Ej.loc['AntMa-34']=Ej.loc['ArtAn-51']
Ej.loc['AbcDf-78']=Ej.loc['ArtAn-51']
Ej

             Nombre      Departamento  Sueldo
Clave
RivJo-94      Jorge    Administración   25000
MarLo-59    Lourdes    Administración   13000
ArtAn-51        Ana    Administración   13500
MarDi-53      Diego    Administración   14000
MarCr-39   Cristina         Comercial   21000
CasEs-71    Esteban         Comercial   42500
PerNa-53      Nancy         Comercial   15000
GonOs-90      Oscar          Gerencia   50000
TorMe-26   Mercedes          Gerencia   10000
FueGu-65  Guadalupe       Informática   25000
GueLu-42       Luis         Marketing   25000
GarFe-36   Federico         Marketing   40000
GalSe-85     Sergio         Marketing   22500
BenJo-36       José  Recursos Humanos   30000
SanJa-53      Jaime        Producción   30000
FerRt-45   Federico         Marketing   40000
AntMa-34        Ana    Administración   13500
AbcDf-78        Ana    Administración   13500

In [ ]:
print("Filas duplicadas:\n",Ej.duplicated())

Filas duplicadas:
 Clave
RivJo-94    False
MarLo-59    False
ArtAn-51    False
MarDi-53    False
MarCr-39    False
CasEs-71    False
PerNa-53    False
GonOs-90    False
TorMe-26    False
FueGu-65    False
GueLu-42    False
GarFe-36    False
GalSe-85    False
BenJo-36    False
SanJa-53    False
FerRt-45     True
AntMa-34     True
AbcDf-78     True
dtype: bool

In [ ]:
Ej['Departamento'].duplicated(keep='first')

Clave
RivJo-94    False
MarLo-59     True
ArtAn-51     True
MarDi-53     True
MarCr-39    False
CasEs-71     True
PerNa-53     True
GonOs-90    False
TorMe-26     True
FueGu-65    False
GueLu-42    False
GarFe-36     True
GalSe-85     True
BenJo-36    False
SanJa-53    False
FerRt-45     True
AntMa-34     True
AbcDf-78     True
Name: Departamento, dtype: bool

In [ ]:
Duplicadas=Ej.duplicated()
Duplicadas

Clave
RivJo-94    False
MarLo-59    False
ArtAn-51    False
MarDi-53    False
MarCr-39    False
CasEs-71    False
PerNa-53    False
GonOs-90    False
TorMe-26    False
FueGu-65    False
GueLu-42    False
GarFe-36    False
GalSe-85    False
BenJo-36    False
SanJa-53    False
FerRt-45     True
AntMa-34     True
AbcDf-78     True
dtype: bool

In [ ]:
print("\n\nNúmero de filas duplicadas:\n", Duplicadas[Duplicadas==True].count())

Número de filas duplicadas:
 3

In [ ]:
print(Ej['Departamento'])

Clave
RivJo-94      Administración
MarLo-59      Administración
ArtAn-51      Administración
MarDi-53      Administración
MarCr-39           Comercial
CasEs-71           Comercial
PerNa-53           Comercial
GonOs-90            Gerencia
TorMe-26            Gerencia
FueGu-65         Informática
GueLu-42           Marketing
GarFe-36           Marketing
GalSe-85           Marketing
BenJo-36    Recursos Humanos
SanJa-53          Producción
FerRt-45           Marketing
AntMa-34      Administración
AbcDf-78      Administración
Name: Departamento, dtype: object

La función duplicated tiene el parámetro `keep` para determinar si mantiene el primer registro (`'last'`), el último (`'last'`) o ninguno (`False`) de los duplicados

In [ ]:
#Valores duplicados de una columna:
Ej['Departamento'].duplicated(keep='last')

Clave
RivJo-94     True
MarLo-59     True
ArtAn-51     True
MarDi-53     True
MarCr-39     True
CasEs-71     True
PerNa-53    False
GonOs-90     True
TorMe-26    False
FueGu-65    False
GueLu-42     True
GarFe-36     True
GalSe-85     True
BenJo-36    False
SanJa-53    False
FerRt-45    False
AntMa-34     True
AbcDf-78    False
Name: Departamento, dtype: bool

In [ ]:
"""¿Cuántos departamentos existen?"""
NoDepto=Ej['Departamento'].duplicated(keep='last')
print('Total Depto',NoDepto[NoDepto==False].count())

Total Depto 7

In [ ]:
No=Ej['Sueldo'].duplicated(keep=False)
print('Numero de sueldos únicos',NoDepto[No==False].count())

Numero de sueldos únicos 8

In [ ]:
Ej['Nombre'][Ej['Sueldo'].duplicated(keep=False)==False]

Clave
MarLo-59     Lourdes
MarDi-53       Diego
MarCr-39    Cristina
CasEs-71     Esteban
PerNa-53       Nancy
GonOs-90       Oscar
TorMe-26    Mercedes
GalSe-85      Sergio
Name: Nombre, dtype: object

In [ ]:
Ej['Sueldo'].duplicated(keep=False)

Clave
RivJo-94     True
MarLo-59    False
ArtAn-51     True
MarDi-53    False
MarCr-39    False
CasEs-71    False
PerNa-53    False
GonOs-90    False
TorMe-26    False
FueGu-65     True
GueLu-42     True
GarFe-36     True
GalSe-85    False
BenJo-36     True
SanJa-53     True
FerRt-45     True
AntMa-34     True
AbcDf-78     True
Name: Sueldo, dtype: bool

In [ ]:
NoDepto

Clave
RivJo-94     True
MarLo-59     True
ArtAn-51     True
MarDi-53     True
MarCr-39     True
CasEs-71     True
PerNa-53    False
GonOs-90     True
TorMe-26    False
FueGu-65    False
GueLu-42     True
GarFe-36     True
GalSe-85     True
BenJo-36    False
SanJa-53    False
FerRt-45    False
AntMa-34     True
AbcDf-78    False
Name: Departamento, dtype: bool

##Borrar duplicados
Se utiliza la función `drop_duplicates()`

In [ ]:
Ej.drop_duplicates()

             Nombre      Departamento  Sueldo
Clave
RivJo-94      Jorge    Administración   25000
MarLo-59    Lourdes    Administración   13000
ArtAn-51        Ana    Administración   13500
MarDi-53      Diego    Administración   14000
MarCr-39   Cristina         Comercial   21000
CasEs-71    Esteban         Comercial   42500
PerNa-53      Nancy         Comercial   15000
GonOs-90      Oscar          Gerencia   50000
TorMe-26   Mercedes          Gerencia   10000
FueGu-65  Guadalupe       Informática   25000
GueLu-42       Luis         Marketing   25000
GarFe-36   Federico         Marketing   40000
GalSe-85     Sergio         Marketing   22500
BenJo-36       José  Recursos Humanos   30000
SanJa-53      Jaime        Producción   30000

In [ ]:
Ej.drop_duplicates(['Departamento'],keep='first')

             Nombre      Departamento  Sueldo
Clave
RivJo-94      Jorge    Administración   25000
MarCr-39   Cristina         Comercial   21000
GonOs-90      Oscar          Gerencia   50000
FueGu-65  Guadalupe       Informática   25000
GueLu-42       Luis         Marketing   25000
BenJo-36       José  Recursos Humanos   30000
SanJa-53      Jaime        Producción   30000

In [ ]:
Ej.drop_duplicates(['Sueldo'],keep=False)

            Nombre    Departamento  Sueldo
Clave
MarLo-59   Lourdes  Administración   13000
MarDi-53     Diego  Administración   14000
MarCr-39  Cristina       Comercial   21000
CasEs-71   Esteban       Comercial   42500
PerNa-53     Nancy       Comercial   15000
GonOs-90     Oscar        Gerencia   50000
TorMe-26  Mercedes        Gerencia   10000
GalSe-85    Sergio       Marketing   22500

#Valores únicos
La función `nunique() ` retorna el número de valores únicos por filas o por columnas (`axis=1`)

In [ ]:
#Valores únicos en cada columna
Ej.nunique()

#Muestra los valores únicos por fila (en caso de que una fila tenga el mismo valor en dos o más columnas)
Ej.nunique(axis=1)

Clave
RivJo-94    3
MarLo-59    3
ArtAn-51    3
MarDi-53    3
MarCr-39    3
CasEs-71    3
PerNa-53    3
GonOs-90    3
TorMe-26    3
FueGu-65    3
GueLu-42    3
GarFe-36    3
GalSe-85    3
BenJo-36    3
SanJa-53    3
FerRt-45    3
AntMa-34    3
AbcDf-78    3
dtype: int64

In [ ]:
Ej['Departamento'].nunique()

7

`value_counts()`: Regresa un conteo de ls valores de una columna (para datos categóricos)

In [ ]:
Ej['Departamento'].value_counts()

Departamento
Administración      6
Marketing           4
Comercial           3
Gerencia            2
Informática         1
Recursos Humanos    1
Producción          1
Name: count, dtype: int64

In [ ]:
Ej.value_counts()

Nombre     Departamento      Sueldo
Ana        Administración    13500     3
Federico   Marketing         40000     2
Cristina   Comercial         21000     1
Diego      Administración    14000     1
Esteban    Comercial         42500     1
Guadalupe  Informática       25000     1
Jaime      Producción        30000     1
Jorge      Administración    25000     1
José       Recursos Humanos  30000     1
Lourdes    Administración    13000     1
Luis       Marketing         25000     1
Mercedes   Gerencia          10000     1
Nancy      Comercial         15000     1
Oscar      Gerencia          50000     1
Sergio     Marketing         22500     1
Name: count, dtype: int64

#Outliers
Son datos atípicos, por lo que no se comportan como el resto de ellos. Puede haber tres tipo de outliers

1.- Dato mal capurado

2.- Dato en el límite (es real pero no me interesa analizarlo)

3.- Anómalo Muy curioso

In [ ]:
import pandas as pd
from pandas import DataFrame

Ej=pd.read_csv('EjemploDatosCSV.csv', index_col='Clave')
Ej=Ej.drop(['Apellido','Cargo','Fecha ingreso'], axis=1)
Ej

             Nombre      Departamento  Sueldo
Clave
RivJo-94      Jorge    Administración   25000
MarLo-59    Lourdes    Administración   13000
ArtAn-51        Ana    Administración   13500
MarDi-53      Diego    Administración   14000
MarCr-39   Cristina         Comercial   21000
CasEs-71    Esteban         Comercial   42500
PerNa-53      Nancy         Comercial   15000
GonOs-90      Oscar          Gerencia   50000
TorMe-26   Mercedes          Gerencia   10000
FueGu-65  Guadalupe       Informática   25000
GueLu-42       Luis         Marketing   25000
GarFe-36   Federico         Marketing   40000
GalSe-85     Sergio         Marketing   22500
BenJo-36       José  Recursos Humanos   30000
SanJa-53      Jaime        Producción   30000

In [ ]:
Ej.loc['MarLo-59','Sueldo']=-500000
Ej.loc['PerNa-53','Sueldo']=1000000

Ej['Sueldo_Z']= (Ej['Sueldo'] - Ej['Sueldo'].mean()) / Ej['Sueldo'] .std()
print(Ej['Sueldo'].mean(),Ej['Sueldo'] .std())
Ej.sort_values(by='Sueldo')

56566.666666666664 294352.7928637108

             Nombre      Departamento   Sueldo  Sueldo_Z
Clave
MarLo-59    Lourdes    Administración  -500000 -1.890815
TorMe-26   Mercedes          Gerencia    10000 -0.158200
ArtAn-51        Ana    Administración    13500 -0.146310
MarDi-53      Diego    Administración    14000 -0.144611
MarCr-39   Cristina         Comercial    21000 -0.120830
GalSe-85     Sergio         Marketing    22500 -0.115734
RivJo-94      Jorge    Administración    25000 -0.107241
FueGu-65  Guadalupe       Informática    25000 -0.107241
GueLu-42       Luis         Marketing    25000 -0.107241
BenJo-36       José  Recursos Humanos    30000 -0.090255
SanJa-53      Jaime        Producción    30000 -0.090255
GarFe-36   Federico         Marketing    40000 -0.056282
CasEs-71    Esteban         Comercial    42500 -0.047788
GonOs-90      Oscar          Gerencia    50000 -0.022309
PerNa-53      Nancy         Comercial  1000000  3.205111

In [ ]:
Borrar=Ej[~Ej['Sueldo_Z'].between(-3,3)]
print(Borrar)
Ej.drop(Borrar.index, inplace=True)
Ej

         Nombre Departamento   Sueldo  Sueldo_Z
Clave
PerNa-53  Nancy    Comercial  1000000  3.205111

             Nombre      Departamento  Sueldo  Sueldo_Z
Clave
RivJo-94      Jorge    Administración   25000 -0.107241
MarLo-59    Lourdes    Administración -500000 -1.890815
ArtAn-51        Ana    Administración   13500 -0.146310
MarDi-53      Diego    Administración   14000 -0.144611
MarCr-39   Cristina         Comercial   21000 -0.120830
CasEs-71    Esteban         Comercial   42500 -0.047788
GonOs-90      Oscar          Gerencia   50000 -0.022309
TorMe-26   Mercedes          Gerencia   10000 -0.158200
FueGu-65  Guadalupe       Informática   25000 -0.107241
GueLu-42       Luis         Marketing   25000 -0.107241
GarFe-36   Federico         Marketing   40000 -0.056282
GalSe-85     Sergio         Marketing   22500 -0.115734
BenJo-36       José  Recursos Humanos   30000 -0.090255
SanJa-53      Jaime        Producción   30000 -0.090255

In [ ]:
Ej['Sueldo_Z']= (Ej['Sueldo'] - Ej['Sueldo'].mean()) / Ej['Sueldo'] .std()
print(Ej['Sueldo'].mean(),Ej['Sueldo'] .std())
Ej.sort_values(by='Sueldo')

-10821.42857142857 141249.18068419385

             Nombre      Departamento  Sueldo  Sueldo_Z
Clave
MarLo-59    Lourdes    Administración -500000 -3.463231
TorMe-26   Mercedes          Gerencia   10000  0.147409
ArtAn-51        Ana    Administración   13500  0.172188
MarDi-53      Diego    Administración   14000  0.175728
MarCr-39   Cristina         Comercial   21000  0.225286
GalSe-85     Sergio         Marketing   22500  0.235905
RivJo-94      Jorge    Administración   25000  0.253605
FueGu-65  Guadalupe       Informática   25000  0.253605
GueLu-42       Luis         Marketing   25000  0.253605
BenJo-36       José  Recursos Humanos   30000  0.289003
SanJa-53      Jaime        Producción   30000  0.289003
GarFe-36   Federico         Marketing   40000  0.359800
CasEs-71    Esteban         Comercial   42500  0.377499
GonOs-90      Oscar          Gerencia   50000  0.430597

In [ ]:
#Gerencia

Ej[Ej['Departamento']=='Gerencia'].describe()

             Sueldo  Sueldo_Z
count      2.000000  2.000000
mean   30000.000000 -0.090255
std    28284.271247  0.096090
min    10000.000000 -0.158200
25%    20000.000000 -0.124227
50%    30000.000000 -0.090255
75%    40000.000000 -0.056282
max    50000.000000 -0.022309

In [ ]:
#Realizar un muestreo aleatorio
muestra=Ej.sample(n=5)#, replace=True)
print(muestra)
print(muestra.describe())

             Nombre    Departamento  Sueldo  Sueldo_Z
Clave
FueGu-65  Guadalupe     Informática   25000  0.253605
MarLo-59    Lourdes  Administración -500000 -3.463231
TorMe-26   Mercedes        Gerencia   10000  0.147409
GonOs-90      Oscar        Gerencia   50000  0.430597
CasEs-71    Esteban       Comercial   42500  0.377499
              Sueldo  Sueldo_Z
count       5.000000  5.000000
mean   -74500.000000 -0.450824
std    238369.461131  1.687581
min   -500000.000000 -3.463231
25%     10000.000000  0.147409
50%     25000.000000  0.253605
75%     42500.000000  0.377499
max     50000.000000  0.430597

#Ejercicio

In [ ]:
import pandas as pd
from pandas import DataFrame

Ej=pd.read_csv('EjemploDatosCSV.csv', index_col='Clave')
Ej=Ej.drop(['Apellido','Cargo','Fecha ingreso'], axis=1)
Ej['Edad']=[34,23,58,8,23,56,49,32,37,50,20,23,28,34,567]
Ej

             Nombre      Departamento  Sueldo  Edad
Clave
RivJo-94      Jorge    Administración   25000    34
MarLo-59    Lourdes    Administración   13000    23
ArtAn-51        Ana    Administración   13500    58
MarDi-53      Diego    Administración   14000     8
MarCr-39   Cristina         Comercial   21000    23
CasEs-71    Esteban         Comercial   42500    56
PerNa-53      Nancy         Comercial   15000    49
GonOs-90      Oscar          Gerencia   50000    32
TorMe-26   Mercedes          Gerencia   10000    37
FueGu-65  Guadalupe       Informática   25000    50
GueLu-42       Luis         Marketing   25000    20
GarFe-36   Federico         Marketing   40000    23
GalSe-85     Sergio         Marketing   22500    28
BenJo-36       José  Recursos Humanos   30000    34
SanJa-53      Jaime        Producción   30000   567

In [ ]:
%%shell
jupyter nbconvert --to html ProcesamientoyLimpieza_completo.ipynb

[NbConvertApp] Converting notebook ProcesamientoyLimpieza_completo.ipynb to html
[NbConvertApp] Writing 747750 bytes to ProcesamientoyLimpieza_completo.html